extends layout
include utils

append head
    link(rel="stylesheet" href="/stylesheets/index.css")
    link(rel="stylesheet" href="/stylesheets/background.css")
    //- link(rel="stylesheet" href="/stylesheets/indexfooter.css")
    script(src="/javascripts/index.js" type="module" defer)

block content
    .hero
        h1.motto Face your fears
        h2.elevator Curate a blood-curdling collection of horror movies while discovering new favorites
        if login
            div(class="login-form-container hidden")
            a.big-button(href=`/users/${locals.user.id}`) View Your Profile
        else
             div(class="login-form-container hidden")
                form(action="/users/register", method="get")
                    button.big-button(type="submit") GET STARTED
                p.login-hero Already a member? #[a(href="/users/login") Log in >>]

    .feature-shelf
        +showShelvesPreview(shelves, true)
    .random-rec
        .random-rec-poster
            a(href=`/movies/${randomMovie.id}`)
                img.random-rec-image(src=randomMovie.cover, alt="movie poster")
        .random-rec-text
            h2.random-rec-intro Have you seen this one...
            h3.random-rec-title
                a(id="title-link" href=`/movies/${randomMovie.id}`)= randomMovie.title
            p.random-rec-year #{randomMovie.year}
            p.random-rec-director #{randomMovie.director}
            p.random-rec-description #{randomMovie.description}
    .footer
        .footer-founders
            p.footer-item
                a(target="_blank" href="https://amandahinton.com/") Amanda Hinton
            p.footer-item
                a.footer-item(target="_blank" href="https://github.com/VoodooJellyfish") Tanner Pedretti
            p.footer-item
                a.footer-item(target="_blank" href="https://github.com/msebbata") Moncef Sebbata
            p.footer-item
                a.footer-item(target="_blank" href="http://www.walker.codes/") Walker Williams
        .footer-year Copyright 2021 ©  All Rights Reserved
