extends layout.pug

append head
    link(rel="stylesheet" href="/stylesheets/index.css")
    link(rel="stylesheet" href="/stylesheets/movie-detail.css")
    script(src="/javascripts/addToShelf.js")

block content
    if movie
        .movie-details
            .movie-details-poster
                a(href=`/movies/${movie.id}`)
                    img.movie-details-image(src=movie.cover, alt="movie poster")
            .movie-details-text
                h3.movie-details-title
                    a(id="title-link" href=`/movies/${movie.id}`)= movie.title
                p.movie-details-year #{movie.year}
                p.movie-details-director #{movie.director}
                p.movie-details-description #{movie.description}
    if myShelves
        form(id="add-to-shelf" action=`/shelves/edit`, method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="movieId" value= movie.id)

            label(for="shelfId")= "Add to Shelf: "
            select(name="shelfId" id="dropdown")
                each shelf in myShelves
                    option(value=shelf.id)= shelf.name
            button(class="small-button" type="submit") Add
