extends layout.pug

append head
    link(rel="stylesheet" href="/stylesheets/index.css")
    link(rel="stylesheet" href="/stylesheets/movie-detail.css")

block content
    if movie
        .movie-details
            .movie-details-poster
                a(href=`/movies/${movie.id}`)
                    img.movie-details-image(src=movie.cover, alt="movie poster")
            .movie-details-text
                h3.movie-details-title
                    a(id="title-link" href=`/movies/${movie.id}`)= movie.title
                p.movie-details-year #{movie.year}
                p.movie-details-director #{movie.director}
                p.movie-details-description #{movie.description}
                div.movie-details-score
                    p.score-label Overall score:
                    div.star-container
                    -let score
                        each review in reviews
                            -const num = Object.values(movie.Reviews).map(review => review.rating).reduce((a,b) => {return a + b}, 0)
                            -const total = movie.Reviews.length
                            -score = num/(total * 1.0)
                            -score = Math.round(score)
                        div(id="starContainer")
                            -let i = 0
                            -let j = score
                            while i < score
                                span(class="fa fa-star checked")
                                -i++

    if myShelves
        form(id="add-to-shelf" action=`/shelves/edit`, method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="movieId" value= movie.id)

            label(for="shelfId")= "Add to Shelf: "
            select(name="shelfId" id="dropdown")
                each shelf in myShelves
                    option(value=shelf.id)= shelf.name
            button(class="small-button" type="submit") Add


                div.movie-form-container
            a.small-button(href=`/movies/${movie.id}/reviews/new`) Add Review
        div(id= "reviews-container")
            each review in reviews
                div(class="review-group")
                    div(class="review")
                        p= review.body
                    div(class="starRating")
                        -let i = 0
                        -let j = review.rating
                        while i < review.rating
                            span(class="fa fa-star checked")
                            -i++
                        while j < 5
                            span(class="fa fa-star")
                            -j++
                    div(class= "username")
                        a(href=`/users/${review.User.id}`)= review.User.username
                    if userId && userId == review.userId
                        div(class="button-group")
                            a.small-button(href=`/reviews/${review.id}`) Edit review
