extends layout.pug
include utils.pug

block content
    div(class="container" id="profile-block")
        div(class="image" id="profile-img")
        h2(class="username" id="username") #{userObj.username}
        h3(class="full-name" id="full-name") #{userObj.firstName} #{userObj.lastName}
        p(class="bio" id="bio") #{userObj.bio}
        if reviews
            h3(class="num-reviews" id="num-reviews")
                a(class="reviews-link") Reviews #{reviews.length}
        div(class="stats" id="user-stats")
    h2(class="shelves-header") #{userObj.username}'s Shelves
    +showShelvesPreview(shelves, true)
    if reviews

        div(class="container" id="review-container")
        each review in reviews
            h3= "Review of "
                a(href=`/movies/${review.Movie.id}`) #{review.Movie.title}
            p Rating: #{review.rating}/5
            p #{review.body}
