mixin showShelves(shelves, titles)
    if shelves
            each shelf in shelves
                div(id="shelfId" hidden)= shelf.id
                div(class="shelf")
                    if titles
                        h3
                            a(href=`/shelves/${shelf.id}`)= shelf.name
                    each movie in shelf.Movies
                        div(class="movie-image" id= movie.id)
                            a(id="poster-link" href=`/movies/${movie.id}`)
                                img(src=movie.cover)
                            strong(class="movie-title")
                                a(id="title-link" href=`/movies/${movie.id}`)= movie.title
                            if curId && curId === shelf.userId
                                form(action="#", method="get")
                                    input(type="hidden" name="_csrf" value=csrfToken)

                                    button(class="btn-edit" id=`edit-${shelf.id}-${movie.id}` hidden) Edit
                                    button(class="btn-del" id=`delete-${shelf.id}-${movie.id}` hidden) Delete
